# Clave de la API de OpenWeatherMap
# Obtenerla en: https://openweathermap.org/api
WEATHER_API_KEY=aaa1b2d610dbc18cbacdf4c32273c324

# Contraseña de MySQL (usada por el contenedor DB y la app)
DB_PASSWORD=parde4
